<table>
    <tr>
        <td><a href="{{site.baseurl}}/2023/11/04/game_plan_IPYNB_2_.html">Plan</a></td>
        <td><a href="{{site.baseurl}}/2023/10/16/player.html">Player</a></td>
        <td><a href="{{site.baseurl}}/2023/10/16/platforms.html">Platform</a></td>
        <td><a href="{{site.baseurl}}/2023/10/16/images.html">Images</a></td>
        <td><a href="{{site.baseurl}}/2023/10/16/sprite.html">Sprite</a></td>
        <td><a href="{{site.baseurl}}/2023/10/16/new_level.html">Extra Level</a></td>
        <td><a href="{{site.baseurl}}/2023/11/06/reflection_IPYNB_2_.html">Reflection</a></td>
        <td><a href="{{site.baseurl}}/2023/11/07/resources_IPYNB_2_.html">Resources Used</a></td>
    </tr>
</table>